.productList {
    margin-top: 30Vh;
    background-color: #fff;
    min-height: 500px;
    position: relative;
    z-index: 3;
    .productPage{
        max-width: 1200px;
        margin: auto;
        display: flex;
        @media screen and (max-width: 420px) {
            display: block;
        }
        .productInfo {
            padding: 2em;
            .description {
                color: #6d6969;
                margin: 30px 0;
            }
            .sizesContainer{
                display: flex;
                .sizeBox{
                    display: flex;
                    border: 1px solid #dedede;
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &.selected{
                        background-color: #a97b50;
                        color: #fff;
                    }
                    &.disabled {
                        opacity: 0.3;
                    }
                }
            }
            .addToCart {
                padding-top: 30px;
                button {
                    padding:10px 20px;
                    background: #ffffff;
                    border-radius: 0;
                    border: 2px solid #a97b50;
                    color: #000;
                    font-weight: 600;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        width: 20px;
                        margin-right: 10px;
                    }
                }
            }
            
        }
    }
}

