.pageTitle{
    text-align: center;
    height: 30vh;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color:#353c3f;
        font-size: 30px;
        a{
            color:#fff;
            text-decoration: none;
            &:last-child{
                color:#353c3f;
            }
        }
    }
}